.Home{
    background-color:grey;
}
.page1{
    background-color: aquamarine;
}
.page2{
    background-color: bisque;
}
.page3{
    background-color: blueviolet;
}
.page4{
    background-color: turquoise;
}
.page5{
    background-color: goldenrod;
}
